body{
    background-color: antiquewhite;
    align-items: center;
}
.game-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board-container{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
}
.element{
    display: flex;
    width: 15vw;
    height: 15vh;
    background-color: gainsboro;
    align-items: center;
    justify-content: center;
    margin: 2%;
}